numpy
pandas
beautifulsoup4
six
tzdata
appdirs
charset-normalizer
frozendict
html5lib
idna
kalshi-python
lxml
multitasking
requests
scikit-learn
scipy
six
soupsieve
statsmodels
tzdata
appdirs
certifi
contourpy
cycler
fonttools
idna
kiwisolver
load-dotenv
lxml
matplotlib
multitasking
packaging
peewee
Pillow>=10.2.0
pyparsing
python-dateutil
pytz
requests
six
soupsieve
urllib3
webencodings
yfinance
pytesseract